html,
body {
    height: 100%;
    background-color: #242424;
    font: 20px 'Varela Round', 'Ubuntu', sans-serif;
    color: white;
}

.main {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    -moz-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.socialMedia {
    cursor: pointer;
}

.content {
    margin: auto;
    text-align: center;
}

.fa-2x {
    height: 90px;
    width: 90px;
    font-size: 2em;
    margin-left: 1.25vw;
    margin-right: 1.25vw;
}

.fa-discord:hover {color: #7289DA;}
.fa-box-open:hover {color: #CAA982;}
.fa-steam:hover {color: #00AEEF;}

a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none
}

.infoDiv {
display: block;
}

#hideMe {
color: #242424;
}
