body {
  background: #ccc;
}

#wrapper {
  display: flex;
}

h1 {
  margin: 15px 0;
}

h3 {
  margin: 0 0 5px;
  border-bottom: 1px solid currentColor;
}

aside {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px dotted gray;
  min-width: 310px;
}

section {
  background: rgba(255,255,255,0.35);
  padding: 2px;
}

canvas { display: none; }

#fileUpload { width: 200px; }
#nbtInfo th { text-align: right; }
#nbtError { color: red; }
